.signup {
  display: flex;
  background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.486),
    rgb(118, 141, 190)
  );
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
}

.signup h1 {
  text-align: center;
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 90%;
  padding: 10px;
}

.signup form input {
  width: 100%;
  height: 15px;
  border: solid black;
  padding: 2px;
}

.signup button {
  border: solid black;
  border-radius: 5px 5px 5px;
  box-shadow: rgb(40, 18, 94) 0px 0px 5px 3px;
  text-decoration: none;
  color: rgba(216, 220, 255, 0.829);
  height: 40px;
  width: 100%;
  margin-top: 10px;
  font-size: x-large;
  font-weight: 500;
  background: linear-gradient(to bottom, rgba(240, 248, 255, 0.486), rgb(118, 141, 190));
}

.signup button:disabled:hover {
  text-decoration: none;
  color: gray;
  box-shadow: none;
  background: darkgray;
}
.signup button:disabled{
  text-decoration: none;
  color: gray;
  box-shadow: none;
  background: darkgray;
}
.signup button:hover {
  text-decoration: none;
  background: rgba(216, 220, 255, 0.829);
  color: blue;
  cursor: pointer;
  box-shadow: rgba(216, 220, 255, 0.829) 0px 0px 5px 3px;
}

form p{
  color: red;
}