/* TODO: Add sitewide styles */
body {
  background: radial-gradient(rgb(86, 151, 207), rgb(50, 101, 150));
}

.title {
  text-align: center;
  border: solid black;
  border-radius: 10px;
  grid-column: 1 / 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-left: 120px;
  margin-right: 120px;
  padding: 5px;
  background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.486),
    rgb(118, 141, 190)
  );
}
