.nav {
  display: flex;
  width: auto;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: solid rgba(44, 44, 44, 0.322);
}

.nav li {
  margin: 10px;
  list-style-type: none;
}

.navButton {
  display: flex;
  justify-content: center;
  border: solid black;
  border-radius: 5px 5px 5px;
  box-shadow: rgb(56, 56, 136) 3px 3px 3px;
  margin: 0px;
  padding: 0px;
  width: 120px;
  height: 30px;
  transition: 500ms;
}

.navButton > a,
.navButton > button {
  text-decoration: none;
  color: black;
  text-align: center;
  align-content: center;
  width: 200px;
  height: 30px;
  background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.486),
    rgb(118, 141, 190)
  );
  border: none;
  transition: 500ms;
}

.navButton > a:hover,
.navButton > button:hover,
.profileButton .navButton {
  text-decoration: none;
  background: rgb(87, 87, 87);
  border: none;
  color: blue;
  cursor: pointer;
  transition: 500ms;
}

.profileButton {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  grid-row: 1fr;
  width: 126px;
  height: 36px;
  transition: 500ms;
}

.profileButton > button {
  text-decoration: none;
  color: black;
  border: solid black;
  padding: 3px;
  border-radius: 5px 5px 5px;
  box-shadow: rgb(56, 56, 136) 3px 3px 3px;
  background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.486),
    rgb(118, 141, 190)
  );
  transition: 500ms;
}

.profileButton > button:hover {
  text-decoration: none;
  color: blue;
  border: solid black;
  background: rgb(87, 87, 87);
  padding: 3px;
  border-radius: 5px 5px 5px;
  transition: 500ms;
}

.profile-dropdown {
  display: inline;
  border: solid black;
  text-align: center;
  align-items: center;
  padding: 0px;
  width: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  position: absolute;
  translate: 0px 40px;
  transition: 500ms;
  font-size: x-small;
  overflow: hidden;
  font-size: small;
}

.profile-dropdown.active {
  opacity: 1;
  visibility: visible;
  transition: 500ms;
}

.profile-dropdown:hover {
  transform: scale(1.3, 1.3);
}

.profile-dropdown .navButton {
  background: linear-gradient(
    to bottom,
    rgba(240, 248, 255, 0.486),
    rgb(118, 141, 190)
  );
  border: solid black;
  text-align: center;
  align-items: center;
  padding: 0px;
  width: 100px;
  height: 40px;
  transition: 500ms;
}

.profile-dropdown .navButton:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: solid black;
  background: rgb(87, 87, 87);
  padding: 3px;
  border-radius: 5px 5px 5px;
  transition: 500ms;
}
